body {
    background-color: #f8f9fa;
  }
  
  .form-container {
    max-width: 85%;
    margin: auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    max-height: 80px;
  }

  